{% extends 'basebenevole.html.twig' %}


{% block body %}
	<div
		class='undernav'>
		{# <input type="button" class="btn" value="Retour!" onclick="history.back()"> #}

		<h2>Création d'un nouveau mot de passe</h2>

	</div>

	<div class='form'>
		{{form_start(formPW)}}
		{{form_rest(formPW)}}
		<button type="submit" class="btn">Valider</button>
		{{form_end(formPW)}}

	</div>
{% endblock %}
