{% extends 'base.html.twig' %}
{% form_theme NewsLetterForm _self %}

{% block body %}
	<div class='undernav'>
		<h2>Paramètrage de la Newsletter</h2>
	</div>

	<div class="submitform">
		{{ form_start(NewsLetterForm) }}
		{# <button type="submit" class="btn">Envoyer !</button> #}

		{{form_end(NewsLetterForm)}}

	</div>


{% endblock %}
