{% extends 'base.html.twig' %}
{% block body %}
	<div class='undernav'>
		<h2>Mentions légales :</h2>
	</div>
	<section class="mentionslegales">
		<article>
			<h4>Editeur du site :</h4>
			<p>ASSOCIATION CINE-CONDE</p>
			<p>Quai des Challouets - 14110 CONDE EN NORMANDIE
				<br>
				Numéro de SIRET : 54003604300011
				<br>
				TEL : 02 31 69 88 07
				<br>
				Association déclarée
				<br>

			</p>
			<h4>Hébergeur du site</h4>
			<p>PLANETHOSTER<br>
				PlanetHoster<br>
				4416 Louis B. Mayer<br>
				Laval (Grand Montréal), Québec H7P 0G1<br>
				Canada
			</p>
			<p>https://www.planethoster.com/fr/La-Societe</p>
			<h4>Limitation de responsabilité</h4>
			<p>Les informations contenues sur ce site sont aussi précises que possibles et le site est périodiquement remis à jour, mais peut toutefois contenir des inexactitudes, des omissions ou des lacunes. Si vous constatez une lacune, erreur ou ce qui parait être un dysfonctionnement, merci de bien vouloir
				<a href="{{path('event_create')}}">nous contacter</a>
				en décrivant le problème de la manière la plus précise possible (page posant problème, action déclenchante, type d’ordinateur et de navigateur utilisé, …).</p>

			<p>Tout contenu téléchargé se fait aux risques et périls de l'utilisateur et sous sa seule responsabilité. En conséquence, Ciné-Condé ne saurait être tenu responsable d'un quelconque dommage subi par l'ordinateur de l'utilisateur ou d'une quelconque perte de données consécutives au téléchargement.</p>

			<p>Les liens hypertextes mis en place dans le cadre du présent site internet en direction d'autres ressources présentes sur le réseau Internet ne sauraient engager la responsabilité de Ciné-Condé.</p>

			<h4>Confidentialité</h4>
			<p>Ce site ne fonctionne pas avec des cookies et ne recueille aucune donnée personnelle</p>

			<h4>Propriété intellectuelle</h4>
			<p>Tout le contenu du présent site, incluant, de façon non limitative, les graphismes, images, textes, vidéos, animations, sons, logos,	gifs et icônes ainsi que leur mise en forme sont la propriété exclusive de l'association Ciné-Condé à l'exception des marques logos ou contenus appartenant à d'autres sociétés partenaires ou auteurs. Toute reproduction, distribution, modification, adaptation, retransmission ou publication, même partielle, de ces différents éléments est strictement interdite sans l'accord exprès par écrit de Ciné-Condé. Cette représentation ou reproduction, par quelque procédé que ce soit, constitue une contrefaçon sanctionnée par les articles L.335-2 et suivants du Code de la propriété intellectuelle. Le non-respect de cette interdiction constitue une contrefaçon pouvant engager la responsabilité civile et pénale du contrefacteur. En outre, les propriétaires des Contenus copiés pourraient intenter une action en justice à votre encontre.</p>

			<p>Les utilisateurs et visiteurs du site internet peuvent mettre en place un hyperlien en direction de ce site, mais uniquement en direction de la page d’accueil, accessible à l’URL suivante : www.cineconde.fr, à condition que ce lien s’ouvre dans une nouvelle fenêtre. En particulier un lien vers une sous page (« lien profond ») est interdit, ainsi que l’ouverture du présent site au sein d’un cadre (« framing »), sauf l'autorisation expresse et préalable de Ciné-Condé.</p>

			<h4>Liens hypertextes</h4>
			<p>Le site internet de Ciné-Condé peut offrir des liens vers d’autres sites internet ou d’autres ressources disponibles sur Internet. Ciné-Condé ne dispose d'aucun moyen pour contrôler les sites en connexion avec son site internet. Ciné-Condé ne répond pas de la disponibilité de tels sites et sources externes, ni ne la garantit. Elle ne peut être tenue pour responsable de tout dommage, de quelque nature que ce soit, résultant du contenu de ces sites ou sources externes, et notamment des informations, produits ou services qu’ils proposent, ou de tout usage qui peut être fait de ces éléments. Les risques liés à cette utilisation incombent pleinement à l'internaute, qui doit se conformer à leurs conditions d'utilisation.
			</p>
			<p>En outre, le renvoi sur un site internet pour compléter une information recherchée ne signifie en aucune façon que Ciné-Condé reconnaît ou accepte quelque responsabilité quant à la teneur ou à l'utilisation dudit site.
			</p>
			<p>Les utilisateurs, les abonnés et les visiteurs du site internet de Ciné-Condé ne peuvent mettre en place un hyperlien en direction de ce site sans l'autorisation expresse et préalable de Ciné-Condé.
			</p>
			<p>Dans l'hypothèse où un utilisateur ou visiteur souhaiterait mettre en place un hyperlien en direction du site internet de Ciné-Condé, il lui appartiendra d'adresser un email accessible sur le site afin de formuler sa demande de mise en place d'un hyperlien. Ciné-Condé se réserve le droit d’accepter ou de refuser un hyperlien sans avoir à en justifier sa décision.
			</p>
			<h4>Responsabilité</h4>
			<p>Aucune autre garantie n'est accordée au client si des informations fournies par Ciné-Condé apparaissent inexactes ou incomplètes. Il appartiendra au client de procéder lui-même à toutes vérifications de la cohérence ou de la vraisemblance des résultats obtenus. Ciné-Condé ne sera en aucune façon responsable de l'utilisation des informations contenues dans ses supports de communication y compris son site Internet.</p>
		</article>
	</section>
{% endblock %}
