{% extends "base.html.twig" %}
{% block body %}
	<div class='undernav'>
		<h1>Nos Tarifs :</h1>

	</div>

	<ul class="tarifs">

		<li>
			<strong>
				Plein tarif :</strong>
			5.50€</li>
		<li>
			<strong>Tarif réduit :</strong>
			4€ pour les moins de 18 ans, étudiants et demandeurs d'emplois.</li>
		<li>
			<strong>Carte pré-payée:</strong>
			1€ la carte et rechargement à 25.50€ pour 6 places (soit 4.25€ l'unité)</li>
		<li>
			<strong>Séance 3D :</strong>
			supplément de 1€ par place pour la location des lunettes.</li>
	</ul>

{% endblock %}
