@font-face {
    font-family: 'Raleway';
    src: url(../fonts/Raleway-Italic-VariableFont_wght.ttf) format('truetype');
}
@font-face {
    font-family: 'Proza';
    src: url(../fonts/ProzaLibre-Italic.ttf) format('truetype');
}

@font-face {
  font-family: 'Prozalibre-sembold';
  src: url(../fonts/ProzaLibre-SemiBold.ttf) format('truetype');
  }
  
@font-face {
  font-family: 'Rubik-Italic';
  src: url(../fonts/Rubik-Italic-VariableFont_wght.ttf) format('truetype');
  }
@font-face {
  font-family: 'Rubik';
  src: url(../fonts/Rubik-VariableFont_wght.ttf) format('truetype');
}
:root {
--color1: rgba(255, 255, 255, 0.9);
--color2: rgb(58, 58, 58);
--color3: rgb(187, 123, 95);
--color4: rgb(189, 172, 145);
--color5: rgb(122, 108, 73);
}


html{
  height: 100%;
}
body {
  display: grid;
  grid-template-rows: auto auto auto 1fr auto;
      background-image: url("../images/bg.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    margin: 0px;
    height: auto;
    min-height: 100%;
    
    }
footer{
  grid-row: 5;
  display: flex;
  flex-wrap: wrap;
  background-color: var(--color4);
  color: var(--color1);
  font-family: Rubik;
  font-weight: 10;
  font-size: 1rem;
  justify-content: space-around;
  margin: 10px 4vw 0 4vw;

}
footer a{
  margin: 5px 20px 5px 5px;
  color: var(--color1);
}
footer p{
  margin: 5px 20px 5px 20px;
  align-items: center;
  display: flex;
}

footer .logofb{

  width: 24px
}

.logo {
 
    grid-column: 1;
    grid-row: 1/2 ;
    width: 100px;
    filter: invert(100%);
    margin-left: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    object-fit:contain;
}
header {
  grid-row: 1;
 margin: 10px 4vw 0px 4vw;
    display: grid;
    grid-template-columns: 150px 1fr;
    grid-template-rows: 60px 35px;
    background-color:var(--color1) ;
    color: var(--color5);
}
header h1{
  text-transform: uppercase;
}


.descriptiontitre {
    grid-column: 2;
    grid-row: 2;
    font-family: proza;
        margin-left: 1rem;
}


/* navbar*/



.topnav {
  grid-row: 2;
  display: flex;
  flex-wrap: wrap;
  margin: 0 4vw;
background-color: var(--color4);
font-family: rubik;
position: sticky;
position: -webkit-sticky;
top: 0; /* required */
z-index: 10;
align-self: start;
}

.topnav a {
  float: left;
  display: block;
  color: var(--color1);
  text-align: center;
  padding: 5px 16px;
  text-decoration: none;
  transition-duration: 0.2s;
transition-timing-function: ease-out;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
}

.topnav a:hover {
transition-duration: 0.2s;
transition-timing-function: ease-out;

background-color: var(--color2);
color: var(--color3);
}

.topnav a.active {
  pointer-events:none;
animation-duration: 0.5s;
animation-name: activetab;
background-color: var(--color2);
color: var(--color3);
}

/* Body*/
@keyframes opacity{
  from{
    opacity: 0;
  }to{
    opacity: 1;
  }
}
h1 {
  grid-column: 2;
  grid-row: 1/2;
  margin: 0px;
  font-family: Raleway;
  font-weight: 500;
  font-size: 2rem;
  margin-left: 1rem;
  margin-top: 1rem;
  color: var(--color5);
  }
  h2{
    font-family: 'Prozalibre-sembold';
    text-align: center;
    font-size: 1.2rem;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 5px;
    color: var(--color2);
  }
  h3{
    margin-bottom: 5px;
    font-family: 'Prozalibre-sembold';
    font-size: 1rem;
    font-weight: 500;
  }
  p{
    margin-top: 0px;
    font-family: rubik;
    font-weight: 100;
  }
  
.undernav{
  grid-row: 3;
  display: flex;
  flex-wrap: wrap;
   justify-content: space-between;
  align-content: center;
  margin: 0 4vw 0 4vw;
 padding-top: 5px;
 padding-bottom: 5px;
 background-color: var(--color5);
 position: sticky;
top: 34px;
z-index: 10;
  }
.undernav h1{
margin-top: 0px;
font-size: 1.5rem;
color: var(--color1);
 }
.dayfilter {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
 
  font-family: Rubik;
  color: var(--color1);
  
    }
  .dayfilter > input { 
    margin-left: 5px;
    
  }
  .dayfilter > #jour{
    color:darkgrey;
  }
  .btn{
    background-color: var(--color2);
    color: var(--color1);
    border-radius: 5px;
    font-size: 0.8rem;
    font-weight: 200;
    border: 1px;
    margin-left: 5px;
    margin-right: 5px;
    font-family: rubik;
  
  }
  .btn:hover{
    background-color: var(--color4) ;
    color: var(--color2);
      }
  .btn:active{
    background-color:var(--color1) ;
    color: aliceblue;
      }
  .datetime-input-box-wrapper {
    display: inline-flex;
    flex: 1;
    background-color: inherit;
    min-width: 0;
    justify-content: space-between;
    align-items: center;
    color: darkgray;
  }
section {
 grid-row: 4;
  margin: 10px 4vw 0px 4vw;
  height: 100%;
display: flex;
flex-wrap: wrap;
justify-content: space-around;
}

article {
     margin: 20px 5px 20px 5px;
  animation-duration: 2s;
  animation-name: opacity;
  background-color: var(--color1);
  padding: 50px;
  height: min-content;
  }
  article a{
    display: flex;
  }
  article ul {
    list-style:none;
    margin:0;
    padding: 0;
   
    }
  article li {
    list-style-type: none;
    font-family: 'Rubik-Italic';
    text-align: center;
    font-size: 0.9rem;
  font-weight: 10;
  }
  .prog article{
    width: 250px;
  }
  .affiche {
    width:  250px;
    object-fit: contain;
    margin-left: auto;
    margin-right: auto;
    -webkit-box-shadow: -4px -4px 6px 1px rgba(0,0,0,0.3);
-moz-box-shadow: -4px -4px 6px 1px rgba(0,0,0,0.3);
box-shadow: -4px -4px 6px 1px rgba(0,0,0,0.3);

   }

.detail{
  grid-row: 4;
  display: grid;
  column-gap: 1vw;
  row-gap: 2rem;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 1fr auto;
  margin: 30px 4vw;
  background: none;
  padding: 0;
}
.detail .affiche{
  width: 100%;
  max-width: 30vW;
  grid-column: 1;
  grid-row: 1/3;
}
.classification{
color: var(--color3);
font-weight: bold;


}
.description{
  display: flex;
  flex-direction: column;
  grid-column: 2/4;
  grid-row: 1;
  height: min-content;
  background-color: var(--color1);
  padding: 30px;
}

.description li{
  font-family: rubik;
  text-align: left;
 
}
.seance {
  grid-column: 2;
  grid-row: 2;
  background-color: var(--color1);
  padding: 30px;
  height: max-content;
  
}
.seance li {
  font-family: rubik;
  text-align: left;
  list-style-type:circle;
}
.ba{
  grid-column: 3;
  grid-row: 2;
}
.video{
  display: flex;
  justify-content: center;
  width:100%;
  }
.video iframe{
object-fit: contain;
width: 30vw;
height: calc(0.562 * 30vw);
border: 0;
}
#myvideo:-webkit-full-screen  {
  width: 100%;
  height: 100%;
}

.filmseven{
display: flex;
justify-content: space-around;

}
.filmseven li{
text-align: center;
margin: 20px;
}
.filmeven a{
  display: flex;
}

.jour{
  display: flex;
}
.daysection div{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.daysection > h2{
  background-color: var(--color1);
}


.tarifs{
  display: flex;
flex-direction: column;
background-color: var(--color1);
padding: 70px;
margin: 30px auto 10px auto;
font-family: rubik;
font-size: large;
font-weight: 300;
max-width: 800px;
height: min-content;
}
.tarifs h1{
  margin: 0 0 4vw 0;
}
.tarifs li{
  margin-bottom: 20px;
}

/* Formulaire */

.submitform{
  display: flex;
  flex-direction: column;
  font-family: rubik;
  max-width: 600px;
 Margin : 20px auto 20px auto;
  background-color: var(--color1);
  padding: 20px;
  height: min-content;
}
.submitform form > div{
  margin: 5px 4vw 5px 4vw;
  display: grid;
  grid-template-columns: 1fr 3fr;
  column-gap: 1vw;
}

.submitform label{
  grid-column: 1;
}
.submitform input{
  grid-column: 2;
  width: 100%;
}



@media screen and (max-width: 900px) {
  .detail{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0 4vw 0 4vw;
    gap: inherit;
      }
  .detail .affiche{
    max-width: 75vw;
    margin: 5vw auto 5vw auto;
    text-justify: distribute;
    }

  .seance{
    margin: 10px 0 10px 0;
    gap: inherit;
    padding: 0 10px 10px 10px;
  }
  .seance ul{
    padding:inherit;
    margin: inherit;
  }
  .video iframe{
    width: 75vw;
  height: calc(0.562 * 75vw);
  }
  .filmseven .affiche{
    margin: 0;
  }
  .jour{
    flex-direction: column;
  }
 

}
@media screen and (max-width: 600px) {
  header{
    margin:0 0 0 0;
    padding-right: 5px;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto auto;
  }
  .logo{
    margin: 5px 5px 5px 5px;
    width: 75px;
    grid-row: 1/3;
  }
  header h1{
    margin: 5px 5px 5px 5px;
  }
  .topnav a:not(:first-child) {
    display: none;
  }
  .topnav a.icon::before  {
    content: "☰";
  }
    .topnav {
    Display: flex;
    margin: 0 0 0 0;
    justify-content: left;
    overflow: hidden;
    background-color:var(--color4);
    font-family: Raleway, Helvetica, sans-serif;
    position: sticky;
    top: 0px;
    z-index: 10;
      }
  .topnav.responsive {
      Display: block;
      position: relative;
    }

  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .undernav{
    margin: 0 0 0 0;
    justify-content: inherit;
  }
  footer {
    margin:10px 0 0 0;
  }
  section{
    margin: 0 0 0 0;
  }
  .prog article{
    margin: 0 0 0 0;
    width: 100%;
    padding:20px;
  }
  .prog .affiche {
    width: 80vw;
    }
    .filmseven{
     flex-direction: column;
    }
    .detail{
      margin:0;
    }
    .video iframe{
      width: 100vw;
    height: calc(0.562 * 100vw);
    }
    .daysection article {
      margin: 0 0 0 0;
      width: 100%;
      padding:20px;
    }
    .daysection .affiche{
      width: 80vw;
    }
    .daysection > h2 {
      background-color: var(--color2);
      color: var(--color3);
      padding-top: 10px var(--color1);
      text-transform: uppercase full-width;
      margin:0;
    }
  }
