{% block javascripts %}
	{{ encore_entry_script_tags('jourbtn') }}
{% endblock %}

<form class='dayfilter' name="dayFilter" action={{path('jour', { 'jour':app.request.query.get("jour") } )}} methode="get">

	<label for="jour" class="btn"></label>
	<input type="date" id="jour" name="jour">


</form>
