{% extends 'base.html.twig' %}

{% block nav %}
	<nav class="topnav" id="myTopnav">
		<a href="javascript:void(0);" class="icon" onclick="myFunction()"></a>
		<a href="{{path('index')}}" class="active">A l'affiche</a>
		<a href="" class="">Les évènements</a>
		<a href="" class="">L'association</a>
		<a href="" class="">Tarifs</a>
		<a href="" class="">Contact</a>
		<a href="{{path('security_login')}}" class="active">connexion</a>

	</nav>


	<script>
		function myFunction() {
var x = document.getElementById("myTopnav");
if (x.className === "topnav") {
x.className += " responsive";
} else {
x.className = "topnav";
}
}
	</script>
{% endblock %}
